<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <form th:action="@{/empleado}" th:object="${empleado}" method="post">

        <label for="">id</label>
        <input type="text" name="id" id="id" th:field="*{id}">
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">id incorrecto</span>
        
        <label for="">nombre</label>
        <input type="text" name= "nombre" id="nombre" th:field="*{nombre}">
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">nombre incorrecto</span>

        <label for="">apellido</label>
        <input type="text" name= "apellido" id="apellido" th:field="*{apellido}">
        <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">apellido incorrecto</span>

        <label for="">correo</label>
        <input type="correo" name="correo" id="correo" th:field="*{correo}">
        <span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">correo incorrecto</span>
        
        <label for="">direccion</label>
        <input type="text" name="direccion" id="direccion" th:field="*{direccion}">
        <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">direccion incorrecto</span>

        <label for="">telefono</label>
        <input type="text" name="telefono" id="telefono" th:field="*{telefono}">
        <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">telefono incorrecto</span>
        
        

        <button type="submit">Enviar</button>
    </form>
</body>
</html>