<!DOCTYPE html>
<html lang="es" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <ul>
        <li th:text="${empleado.id}"></li>
        <li th:text="${empleado.nombre}"></li>
        <li th:text="${empleado.apellido}"></li>
        <li th:text="${empleado.correo}"></li>
        <li th:text="${empleado.direccion}"></li>
        <li th:text="${empleado.telefono}"></li>
    </ul>
</body>
</html>